In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings
warnings.filterwarnings(action='ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity ='all'

from selenium import webdriver
from selenium.webdriver.support.ui import Select
import time
from tqdm.notebook import tqdm

import datetime
from datetime import timedelta

In [2]:
patient = [] # 환자번호
route = [] # 감영경로
date = [] # 날짜
residence = [] # 거주지
status = [] # 퇴원현황
detail = []

In [5]:
# 페이지 접속
driver = webdriver.Chrome("chromedriver.exe")
driver.get("https://www.seoul.go.kr/coronaV/coronaStatus.do#route_page_top")

In [19]:
# #환자정보 크롤링
# for page in range(20): 
#     page_elem = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/div[9]/div[2]/div[2]/div[2]/div/div/div[2]/div[5]/span[1]/a[2]")
#     page_elem.click()
#     time.sleep(1.5)

for i in tqdm(range(1,101)):
    patient_elem = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/div[9]/div[2]/div[2]/div[2]/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[1]")
    patient.append(patient_elem.text)              

#     route_elem = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[2]/div/div[8]/div[3]/div[2]/div/div[2]/table/tbody/tr["+str(i)+"]/td[5]")
#     route.append(route_elem.text)

    date_elem = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/div[9]/div[2]/div[2]/div[2]/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[2]")
    date.append(date_elem.text)

    residence_elem = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/div[9]/div[2]/div[2]/div[2]/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[3]")
    residence.append(residence_elem.text)

    detail_elem = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/div[9]/div[2]/div[2]/div[2]/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[5]")
    detail.append(detail_elem.text)

    status_elem = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/div[9]/div[2]/div[2]/div[2]/div/div/div[2]/table/tbody/tr["+str(i)+"]/td[6]/b")
    status.append(status_elem.text)
print("page{0}".format(page))
time.sleep(0.5)

HBox(children=(IntProgress(value=0), HTML(value='')))

page19

In [20]:
len(patient)
len(route)
len(date)
len(residence)
len(status)
len(detail)

4704

0

4704

4704

4704

4704

In [105]:
pd.Series(date).tail(130)

11708    21.01.03.
11709    21.01.03.
11710    21.01.03.
11711    21.01.03.
11712    21.01.03.
           ...
11833    21.01.03.
11834    21.01.03.
11835    21.01.03.
11836    21.01.03.
11837    21.01.03.
Length: 130, dtype: object

In [81]:
patient = patient[:4138]
# route = route[:4100]
date = date[:4138]
residence = residence[:4138]
status = status[:4138]
detail = detail[:4138]

In [21]:
df = pd.DataFrame({"환자번호" : patient,
                   "날짜" : date,
                   "거주지" : residence,
                   "퇴원현황" :status,
                   "세부정보" : detail})

In [22]:
df.drop_duplicates(inplace=True)

In [30]:
df = df.sort_values(by='날짜').reset_index(drop=True)

In [37]:
df = df.iloc[:4683]

In [39]:
df.to_excel("최종수집.xlsx")

In [108]:
data = pd.read_excel('확진자정보.xlsx')

In [109]:
data

,Unnamed: 0,감염경로,거주지,날짜,세부정보,퇴원현황,환자번호
0,0,해외 접촉(중국 우한시),강서구,1/24,이동경로 공개기간 경과,퇴원,#2
1,1,해외 접촉(중국 우한시),마포구,1/30,이동경로 공개기간 경과,퇴원,#7
2,2,#3 접촉,종로구,1/30,이동경로 공개기간 경과,퇴원,#6
3,3,해외 접촉(중국 우한시),중랑구,1/30,이동경로 공개기간 경과,퇴원,#5
4,4,#6 접촉,종로구,1/31,이동경로 공개기간 경과,퇴원,#11
...,...,...,...,...,...,...,...
10116,4030,종로구 소재 파고다타운 관련,동대문구,20.12.05.,종로구 소재 파고다타운 관련,NaN,37066
10117,4029,기타 확진자 접촉,성북구,20.12.05.,기타 확진자 접촉,NaN,37023
10118,4028,종로구 소재 파고다타운 관련,노원구,20.12.05.,종로구 소재 파고다타운 관련,퇴원,37070
10119,4051,기타 확진자 접촉,기타,20.12.05.,기타 확진자 접촉,퇴원,37546
10120,4012,기타 확진자 접촉,강남구,20.12.05.,기타 확진자 접촉,NaN,37121

In [111]:
df = pd.concat([data,df])

In [116]:
data

,Unnamed: 0,감염경로,거주지,날짜,세부정보,퇴원현황,환자번호
0,0,해외 접촉(중국 우한시),강서구,1/24,이동경로 공개기간 경과,퇴원,#2
1,1,해외 접촉(중국 우한시),마포구,1/30,이동경로 공개기간 경과,퇴원,#7
2,2,#3 접촉,종로구,1/30,이동경로 공개기간 경과,퇴원,#6
3,3,해외 접촉(중국 우한시),중랑구,1/30,이동경로 공개기간 경과,퇴원,#5
4,4,#6 접촉,종로구,1/31,이동경로 공개기간 경과,퇴원,#11
...,...,...,...,...,...,...,...
10116,4030,종로구 소재 파고다타운 관련,동대문구,20.12.05.,종로구 소재 파고다타운 관련,NaN,37066
10117,4029,기타 확진자 접촉,성북구,20.12.05.,기타 확진자 접촉,NaN,37023
10118,4028,종로구 소재 파고다타운 관련,노원구,20.12.05.,종로구 소재 파고다타운 관련,퇴원,37070
10119,4051,기타 확진자 접촉,기타,20.12.05.,기타 확진자 접촉,퇴원,37546
10120,4012,기타 확진자 접촉,강남구,20.12.05.,기타 확진자 접촉,NaN,37121